<section class="page-header">
  <h1 class="project-name">Learnable Triangulation of Human Pose</h1>

  <img src="static/authors/karim-iskakov.jpg" alt="Avatar" style="width:150px" class="round-image" hspace="20">
  <img src="static/authors/egor-burkov.jpg" alt="Avatar" style="width:150px" class="round-image" hspace="20">
  <img src="static/authors/victor-lempitsky.jpg" alt="Avatar" style="width:150px" class="round-image" hspace="20">
  <img src="static/authors/yury-malkov.jpg" alt="Avatar" style="width:150px" class="round-image" hspace="20">

  <h2 class="project-tagline">
    <a style="color:#FFFFFF" href="mailto:k.iskakov@samsung.com">Karim Iskakov</a><sup>1</sup>,
    <a style="color:#FFFFFF" href="mailto:e.burkov@samsung.com">Egor Burkov</a><sup>1,2</sup>,
    <a style="color:#FFFFFF" href="mailto:v.lempitsky@samsung.com">Victor Lempitsky</a><sup>1,2</sup>,
    <a style="color:#FFFFFF" href="mailto:y.malkov@samsung.com">Yury Malkov</a><sup>1</sup>
  </h2>

  <h2 class="project-subtagline">
    <sup>1</sup>Samsung AI Center, Moscow,
    <sup>2</sup>Skolkovo Institute of Science and Technology, Moscow
  </h2>



  <a href="#" class="btn">https://arxiv.org/abs/1905.05754</a>
  <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=z3f3aPSuhqg" class="btn">Demo</a>
  <a href="#" class="btn">Code (soon)</a>
  <a href="#bibtex" class="btn">BibTeX (soon)</a>
  <br></br>
  <a href="#" class="btn">Dataset annotations [Human3.6M, CMU Panoptic] (soon)</a>
</section>
